<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	  <%- include('partials/head'); %>
  </head>

  <body class="bg-secondary container-fluid">
    <header class="content-wrapper">
      <%- include('partials/nav'); %>
    </header>

    <p><br></p>
    <div class="container">
        <span class="iconify" data-icon="mdi:skull" style="color: rgb(233, 233, 233);" data-width="60" data-height="60"></span>
        <h1 class="mb-3 font-weight-normal">Feedback</h1>
        <table class="table-striped border-primary">
            <thead>
              <tr>
                <th data-field="email">
                  <span class="text-light">
                    Email
                  </span>
                </th>
                <th data-field="feedback">
                  <span class="text-light">
                    Feedback
                  </span>
                </th>
              </tr>
            </thead>
          </table>
    </div>
    <div class="container-fluid fixed-bottom mb-90 px-0">
        <div class="row">
          <img class="w-100 img-fluid" src="/img/carousel_4.png">
      </div>
      </div>


    <!-- Footer -->
    <%- include('partials/footer'); %>

    <!-- Scripts -->
    <%- include('partials/scripts'); %>

    <script type="text/javascript">
        var feedbackData = 
            [
                {email:"testuser1@gmail.com",feedback:"Your website could be better."},
                {email:"testuser2@gmail.com",feedback:"Good stuff!"},
                {email:"testuser3@gmail.com",feedback:"Let me know if you're looking for work."},
                {email:"testuser4@gmail.com",feedback:"Not impressed."}
            ]
        $(document).ready(function () {
            // Use the given data to create 
            // the table and display it
            $('table').bootstrapTable({
                data: feedbackData
            });
        });

    </script>
  

  </body>


</html>