<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
	  <%- include('partials/head'); %>
  </head>

  <body class="bg-secondary container-fluid">
    <header class="content-wrapper">
      <%- include('partials/nav'); %>
    </header>
    <div id="carouselExampleIndicators" class="carousel slide h-75 row align-items-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 align-items-center justify-content-center" src="/img/carousel_1.png" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 align-items-center justify-content-center" src="/img/carousel_2.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 align-items-center justify-content-center" src="/img/carousel_3.png" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 align-items-center justify-content-center" src="/img/carousel_4.png" alt="Fourth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100 align-items-center justify-content-center" src="/img/carousel_5.png" alt="Fifth slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- 16:9 aspect ratio -->
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="card text-warning bg-dark" id="videoelement">
          <div class="card-header font-weight-bold">
            Draft Guide
          </div>        
          <div class="card-body text-light">
            <div class="col embed-responsive embed-responsive-16by9 mb-100">
              <video class="embed-responsive-item" controls src="/video/how_to_make_a_draft_deck.mp4"></video>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="card text-warning bg-dark" id="audioelement">
          <div class="card-header font-weight-bold">
            Featured Music
          </div>        
          <div class="card-body text-light">
            <div class="col embed-responsive embed-responsive-16by9 mb-100">
              <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/726909943&color=%23000000&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/magicthegathering" title="Magic: The Gathering" target="_blank" style="color: #cccccc; text-decoration: none;">Magic: The Gathering</a> · <a href="https://soundcloud.com/magicthegathering/magic-the-gathering-theros-beyond-death-trailer-music-by-ramin-djawadi" title="Magic: The Gathering - Theros Beyond Death Trailer Music by Ramin Djawadi" target="_blank" style="color: #cccccc; text-decoration: none;">Magic: The Gathering - Theros Beyond Death Trailer Music by Ramin Djawadi</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer'); %>

  <!-- Scripts -->
  <%- include('partials/scripts'); %>
  </body>
</html>
